@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to UnganaConnect</h1>
    <p>Platform to digitise ICT training, tools, consulting, and research for African CSOs.</p>
    <p>Explore our <a href="/swagger">API Documentation</a></p>
</div>
